[submodule "new-tab"]
    path = src/assets/new-tab
    url = https://github.com/azhu2/new-tab
    ignore = all
[submodule "/resume"]
    path = src/assets/resume
    url = https://github.com/azhu2/resume
    ignore = all
