@import '../theme';
@import '../variables';

mat-toolbar#nav-bar {
    padding: 0;
    flex: 0 0 2em;

    /* Flexbox for buttons */
    display: flex;
    flex-wrap: wrap;

    ::ng-deep a[mat-flat-button], app-project-menu {
        flex: 1 0 5em;
        height: 100%;
    }

    ::ng-deep a[mat-flat-button] {
        border-radius: 0;
        padding: 0;
        margin: 0;

        /* Flexbox to center button text (vertical and horizontal) */
        display: flex;
        span.mat-button-wrapper {
            margin: auto
        }

        background-color: mat-color($mat-primary, main);
        &.accent {
            background-color: mat-color($mat-accent, main);
        }
    }
}

#page-container {
    padding: 1em;
    background-color: $page-background;
    flex: 1 1 auto;
}

