@import '../styles.scss';

mat-toolbar {
    padding: 0;
    flex: 0 0 2em;

    /* Flexbox for buttons */
    display: flex;
    flex-wrap: wrap;

    a[mat-flat-button] {
        border-radius: 0;
        padding: 0;
        margin: 0;
        height: 100%;
        flex: 1 0 10em;
        background-color: mat-color($mat-primary, main);
    }

    a[mat-flat-button].accent {
        background-color: mat-color($mat-accent, main);
    }
}

#page-container {
    padding: 10px;
    background-color: mat-color($mat-light-theme-background, background);
    flex: 1 1 auto;
}