@use '@angular/material' as mat;
@use '../../../m3-theme';

:host {
    display: flex;
    flex-direction: column;
    height: 100%;

    .img-splash {
        flex: 0 0 auto;
    }

    .page-content {
        text-align: center;
        padding: 1em 5em;
        flex: 1 1 auto;
    }

    .about {
        color: mat.get-theme-color(m3-theme.$light-theme, secondary, 70);
        font-size: 0.8em;
        font-style: italic;
        text-align: center;
        flex: 0 0 auto;
    }
}