@use '@angular/material' as mat;
@use '../../../m3-theme';

.pdf-viewer {
    display: flex;
    flex-direction: column;
    height: 100%;

    object {
        flex: 1 1;
    }    
}

a {
    display: block;
    text-align: center;
    color: mat.get-theme-color(m3-theme.$light-theme, secondary, 70);
    font-size: 0.8em;
}