@use '@angular/material' as mat;
@import '../../../theme';

pdf-viewer {
    display: block;
    max-width: 1024px;
    margin: 0 auto;
    flex: 1;
}

a {
    display: block;
    text-align: center;
    color: mat.get-color-from-palette($mat-accent, lighter);
    font-size: 0.8em;
}