@import '../../../theme';

.links-container {
    border: 0.2em solid mat-color($mat-primary, lighter);

    .links-title {
        text-align: center;
        text-transform: uppercase;
        color: mat-color($mat-accent, darker);
        font-size: 0.8em;
        background-color: mat-color($mat-primary, lighter);
        padding: 0.2em 0;
    }

    ul {
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 3em;

        // Matches #page-container in app.component.scss
        background-color: mat-color($mat-light-theme-background, background);

        ::ng-deep > li {
            padding: 0 1em;
        }
    }
}