@use '@angular/material' as mat;
@import 'theme';

markdown {
    table {
        border-spacing: 0;
        border-collapse: collapse;

        * {
            padding: 0.25em 0.5em;
            border: 1px solid mat.m2-get-color-from-palette($mat-primary, main);
        }

        tr:nth-child(even) {
            background-color: mat.m2-get-color-from-palette($mat-primary, lighter);
        }
    }

    code {
        color: mat.m2-get-color-from-palette($mat-primary, darker);
    }

    pre {
        background-color: mat.m2-get-color-from-palette($mat-primary, lighter);
        padding: 0.5em;
        display: inline-flex;
        max-width: 100%;

        code {
            overflow: auto;
        }
    }

    blockquote {
        margin-left: 0;
        border-left: 4px solid mat.m2-get-color-from-palette($mat-accent, lighter);
        padding-left: 1em;
    }
}