@import 'theme';
@import 'app/app.component';
@import 'app/util/project-menu/project-menu.component';

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: Roboto;
}

app-root {
    height: 100%;

    /* Flexbox for toolbar and page content */
    display: flex;
    flex-direction: column;
}
