@import 'theme';

// TODO Figure out why I have to include these here
@import 'app/app.component';
@import 'app/pages/home/home.component';
@import 'app/util/project-menu/project-menu.component';

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: Roboto;
}

app-root {
    height: 100%;

    /* Flexbox for toolbar and page content */
    display: flex;
    flex-direction: column;
}

a {
    color: mat-color($mat-accent, main);
}

ul {
    list-style-type: none;
}

img.img-icon {
    height: 24px;
    width: 24px;
}

.page-content {
    padding: 1em 2em;
    color: mat-color($mat-light-theme-foreground, text);
}

.img-splash {
    text-align: center;

    img {
        width: 50vmin;
    }
}

.links-toolbar {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    > * {
        padding: 0 1em;
    }
}