@import 'theme';
@import 'app/app.component';
@import 'app/pages/home/home.component';
@import 'app/util/project-menu/project-menu.component';

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: Roboto;
}

app-root {
    height: 100%;

    /* Flexbox for toolbar and page content */
    display: flex;
    flex-direction: column;
}

img.img-icon {
    height: 24px;
    width: 24px;
}

.page-content {
    text-align: center;
    padding: 1em 5em;
    color: mat-color($mat-light-theme-foreground, text);
}

.img-splash {
    text-align: center;

    img {
        width: 50vmin;
    }
}