@use '@angular/material' as mat;
@use '../../../m3-theme';

::ng-deep .cdk-overlay-pane .mat-mdc-menu-panel {
    background: mat.get-theme-color(m3-theme.$light-theme, primary-container);
    border-top-left-radius: 0;
    border-top-right-radius: 0;

    .mat-mdc-menu-content {
        padding: 0;
        overflow-y: hidden;

        a {
            display: block;
            background: mat.get-theme-color(m3-theme.$light-theme, primary-container);
            color: mat.get-theme-color(m3-theme.$light-theme, on-primary-container);
            min-width: 12em;
            margin: 0;
            padding: 0.5em 1.5em;

            /* Flexbox to left-align button text */
            display: flex;
            span.mat-button-wrapper {
                margin-right: auto;
            }
        }
    }
}